services:
  dns-server:
    container_name: dns-ai
    build: ./
    ports:
      - 3000:3000/udp
    environment:
      - PORT=3000
      - MODEL_NAME=gemini-flash-lite-latest
      - GEMINI_API_KEY=YOUR_API_KEY
